.footer-minimal {
    background-color: var(--negro);
    color: var(--hueso);
    padding: 1rem 0;
    text-align: center;
  }
  
  .footer-content {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
  
  .footer-content img {
    max-width: 140px;
  }
  
  .footer-content p {
    font-size: 0.85rem;
    color: #ccc;
  }
  