
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');


:root {
    --negro: #1c1c1cff;
    --gris: #daddd8ff;
    --hueso: #ecebe4ff;
    --claro: #eef0f2ff;
    --blanco: #fafaffff;
  }
  
  /* Hero */
  .hero {
    background: url('../img/hero-top.jpg') center/cover no-repeat;
    color: var(--negro);
    display: flex;
    align-items: center;
    min-height: 100vh;
    position: relative;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(250, 250, 255, 0.7); /* capa clara para contraste */
  }
  
  .hero-inner {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content:left;
    align-items: center;
    gap: 2rem;
    padding: 4rem 0;
    margin-top: 2rem;
  }
  
  .hero-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 4rem;
    width: 100vw;
  }
  
  .hero-text h1 {
    font-family: "EB Garamond", serif;
    font-size: 4rem;
    margin-bottom: 1rem;
    width: 50%;
  }
  
  .hero-text p {
    font-size: 1.25rem;
    margin-bottom: 2rem;
    color: var(--negro);
    width: 48%;
    font-weight: normal;
  }
  
  .hero-buttons {
    display: flex;
    gap: 1rem;
  }
  
  .btn {
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  .btn-primary {
    background: var(--negro);
    color: var(--blanco);
  }
  .btn-primary:hover {
    background: var(--blanco);
    color: var(--negro);
  }
  
  .btn-secondary {
    background: var(--gris);
    color: var(--negro);
  }
  .btn-secondary:hover {
    background: var(--blanco);
  }
  
  
  /* Responsive */
  @media (max-width: 992px) {
    .hero-inner {
      width: 100%;
      min-height: 100vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      display: flex;
      padding: 6rem 4rem;
    }
    .hero-buttons {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }
    .btn{
      width: 80%;
      font-size: 0.9rem;
    }

    .hero-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding-left: 0rem;
      width: 100%;
    }
    
    .hero-text h1 {
      font-size: 3.6rem;
      margin-bottom: 1rem;
      width: 100%;
      align-items: center;
      margin-top: 2rem;
    }
    
    .hero-text p {
      font-size: 1.25rem;
      margin-bottom: 2rem;
      color: var(--negro);
      width: auto;
      text-align: center;
      font-weight: 500;
    }

  }