@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset básico */
* { margin: 0; padding: 0; box-sizing: border-box; }

body { font-family: "Saira", sans-serif; margin: 0; padding: 0; }

:root {
--negro: #1c1c1cff;
--gris: #daddd8ff;
--hueso: #ecebe4ff;
--claro: #eef0f2ff;
--blanco: #fafaffff;
}

/* Top bar */
.top-bar {
  background: #111;          /* franja oscura */
  color: #fff;
  font-size: 0.9rem;
  padding: 0.3rem 5rem;
  
}

.top-bar-inner {
  display: flex;
  justify-content: flex-end; /* alineado a la derecha */
  gap: 2rem;
}

.contact-item {
  display: flex;
  align-items: center;
}

/* Contenedor central */
.container {
  max-width: 1200px;   /* límite de ancho */
  margin: 0 auto;      /* centrado */
  padding: 0 1rem;     /* espacio lateral en móviles */
}

/* Header */
.site-header {
  position: fixed;
  top: 0; left: 0; right: 0;
  background: var(--gris);
  z-index: 1000;
  transition: transform 0.3s ease;
  
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
}
.logo img { height: 3rem; width: 100%; }

/* Nav */
.nav ul {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}
.nav a {
  color: var(--negro);
  text-decoration: none;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; /* asegura que no se pueda desplazar */
}

/* Botón hamburguesa */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
  z-index: 1200;
}
.menu-toggle span {
  width: 28px; height: 3px;
  background: var(--negro);
  border-radius: 2px;
  transition: all 0.3s ease;
}
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.menu-toggle.active span:nth-child(2) { opacity: 0; }
.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}
/* Border solo cuando el menú está activo */
.site-header.menu-open {
  border-bottom: 1.5px solid var(--gris);
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;       /* distancia desde abajo */
  right: 20px;        /* distancia desde la derecha */
  background-color: var(--hueso);
  color:var(--negro);
  
  text-align: center;
  font-size: 32px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  border: none !important;
  text-decoration: none !important;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  background-color: var(--blanco);
}

/* Responsive menú */
@media (max-width: 768px) {

  .top-bar {
    display: none;
    
  }
  .nav {
    position: fixed;
    top: 4.6rem; /* altura aprox. del header */
    left: 0;
    width: 100%;
    height: calc(100vh - 3.5rem); /* resto de la pantalla */
    background: var(--gris);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    flex-direction: column;
    z-index: 900; /* menor que el header */
    text-align: center;
    }

    .nav ul { flex-direction: column; gap: 1rem; }
    .nav.active { transform: translateX(0); }
    .menu-toggle { display: flex; }

    .nav li{
      
      padding: 0.5rem 3rem;
      border-top: 1px solid var(--blanco);
      border-radius: 10px;
      
    }
    
    .logo{
      position: relative;
      z-index: 5000;
    }


    /* Footer */
    .site-footer {
      background: #111;
      color: #fff;
      padding: 2rem 0;
      margin-top: 3rem;
      text-align: center;
    }
  }