<!-- Top bar -->


<header class="site-header">
  <div class="top-bar">
    <div class="container top-bar-inner">
      <span class="contact-item">distefano.corvetto@gmail.com</span>
      <span class="contact-item">(11) 6872-4000   /   (11) 4043-3387 </span>
    </div>
  </div>

  <div class="container header-inner">
    <div class="logo">
      <a href="index.html">
        <img src="img/logo.png" alt="Mi Logo">
      </a>
    </div>
    <nav class="nav">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#2">Nosotros</a></li>
        <li><a href="#3">Servicios</a></li>
        <li><a href="#4">Contacto</a></li>
      </ul>
    </nav>
    <div class="menu-toggle" id="menu-toggle">
      <span></span><span></span><span></span>
    </div>
  </div>
</header>